.button {
  padding: 10%;
  border: 1px solid gray;
  text-align: center;
}

.button:is(:hover, :focus) {
  opacity: 0.5;
  cursor: pointer;
}

.zero-btn {
  grid-column: span 2;
}

.operators {
  background-color: rgb(245, 161, 5);
}

.other-btns {
  background-color: rgb(221, 213, 213);
}
