.quotes {
  margin-top: 10px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

.quote {
  font-style: italic;
}

.author {
  font-weight: bold;
}
